PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
USER_ID=deepanshunayyar_16042004
EMAIL_ID=[deepanshu1561.be23@chitkara.edu.in](mailto:deepanshu1561.be23@chitkara.edu.in)
ROLL_NUMBER=2310991561
